<div class = "content">
    <a [routerLink]="['/store/123',{id:2, type:'men'}]">About</a>
  <div *ngIf = "getVisibillityItems('men')">
    <h2>MEN</h2>
    <p>{{positionSliders.men + 1}} / {{clothesItems.men.length}}</p>
    <p><button (click) = "setleft('men')"><</button><button (click) = "setRight('men')">></button></p>
    <app-item-of-clothes *ngFor="let item of clothesItems.men[positionSliders.men]"  [clothItem]="item" class="itemOfCloth"></app-item-of-clothes>
  </div>
  <div *ngIf = "getVisibillityItems('women')">
    <h2>WOMEN</h2>
    <app-item-of-clothes *ngFor="let item of clothesItems.woman[0]"  [clothItem]="item" class="itemOfCloth"></app-item-of-clothes>
  </div>
  <div *ngIf = "getVisibillityItems('child')">
    <h2>CHILDREN</h2>
    <app-item-of-clothes *ngFor="let item of clothesItems.child[0]"  [clothItem]="item" class="itemOfCloth"></app-item-of-clothes>
  </div>
</div>