.itemOfCloth
{
    height: 360px;
    width: 300px;
    display: inline-flex;
    cursor: pointer;
    border: 6px solid rgba(0,0,0,0); 
    padding: 20px;
    background-color: #f5f6f7;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px;
    box-sizing: border-box;
}
.itemOfCloth:hover
{
    border: 6px solid #aa9b77;    
}
.content
{
    width: 1150px;
    margin: auto;
    text-align: center;
}
button
{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}
button:hover
{
    color: #aa9b77;
}
.content > div:nth-of-type(2n+1) > p 
{
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
}
.content > div:nth-of-type(2n) > p
{
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
}
h2 + p + p button
{
    font-size: 14px;
    font-weight: bold;
}
h2
{
    display: flex;
    align-items: center;
    font-size: 16px;
}
.content > div:nth-of-type(2n) h2
{
    flex-direction: row-reverse;
}
.line
{
    content: '';
    display: inline-block;
    height: 1px;
    background: #cbcbcb;
    width: 100%;
    margin-left: 20px;
}